[submodule "lib/pico_pio_usb"]
	path = lib/pico_pio_usb
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB
[submodule "lib/rp2040-oled"]
	path = lib/rp2040-oled
	url = https://github.com/sm00th/rp2040-oled.git
